input[type="checkbox"] {
    position: relative;
    width: rem(40);
    height: rem(20);
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .3s;
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background: #03a9f4;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(.98);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .3s;
}

input:checked[type="checkbox"]:before {
    left: rem(20);
}