table {
    width: 100%;
    border-collapse: collapse;
    background-color: $table-background;
    color: $table-color;
    border-width: rem(5);
    border-style: solid;
    border-color: #043a5e;
    border-radius: rem(10);
    overflow: hidden;
    
    th, td {
      padding: rem(10);
      text-align: left;
      border-bottom: rem(1) solid $table-color;
    }
    
    th a{
      color: $table-header-color;
      font-weight: 800;
      text-decoration: none;
    }

    th.sorted a{
      color: $table-header-sorted-color;
      font-weight: 800;
      text-decoration: none;
    }
    
    tr:hover {
      background-color: $table-row-hover;
    }

    .table-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


  }