// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@font-face {
    font-family: "Euclid Circular Regular";
    src: url(css/partials/font/font_Euclid_Circular_Regular.ttf) format("truetype"); 
  
}
$font1: "Euclid Circular Regular", sans-serif;
