$black: #010334;
$basebody: #efefef;
$white: #fff;
$blue: #0d6efd;
$grey: #6c757d;
$red: #dc3545;
$darkGrey: #212529;
$lightGrey: #f8f9fa;
$font-family: "Euclid Circular Regular", sans-serif;
$font-size:15;
$md-size: 1024px;



:root {
	/* Couleurs */
	--white: #{$white};
	--white-darker: #{darken($white, 10%)};
	--blue: #{$blue};
	--blue-darker: #{darken($blue, 10%)};
	--blue-hover: #2256FA;
	--grey: #{$grey};
	--light-grey: #{$lightGrey};
	--grey-darker: #{darken($grey, 10%)};
	--red: #{$red};
	--red-darker: #{darken($red, 10%)};
	--text-color: #{$black};
	--body-color: #{$basebody};
	--navbar-color: #{$white};
	--navbarmenu-color: #2256FA;
	--font-family: #{$font-family};
	--font-size: #{$font-size} + "px";
	--button-bg-color: #{$black};
	--button-bg-hover-color: #{lighten($black, 10%)};

	--text-color: #{$darkGrey};
	/* Radius */
	--main-radius: #{rem(6)};
	/* Fonts */
	--main-font: #{$font1};
	/* Transitions */
	--transition-duration: 0.3s;
	/* Padding */
	--main-padding: #{rem(16)};
}

/* Ecrans */
$md-size: 1024px;

$baseFontSize: 16px;

//table variables
$table-color: #333;
$table-background: #eae0c85e;
$table-header-color: #000;
$table-header-sorted-color: rgb(0, 38, 255);
$table-header-background: #555;
$table-row-hover: #e5e5e5;

//button variables
$button-background: #7E86AF;
$button-dark-color: #000000;
$button-light-color: #FFFFFF;
$button-font-size : rem(28);
$button-width: rem(300);
$button-height: rem(100);
$button-hover: #5A5C68;
$button-padding-top-bottom: rem(34);
$button-padding-left-right: rem(17);
$button-icon-size: rem(45);
$button-transition: background 0.3s ease-in-out;

$button-wrapped-font-size: rem(14);
$button-wrapped-width: rem(150);