.button_style {
    display: block;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: $button-font-size;
    transition: $button-transition;
    height: $button-height;
    width: $button-width;
    border-radius: var(--main-radius);

    &:hover {
        transition: $button-transition;
        background-color: $button-hover;
    }

    
}