.forgot-password-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #007BFF; /* Couleur bleue par défaut, mais vous pouvez la changer */
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #0056b3; /* Une teinte plus foncée pour le survol */
    }

    &:active,
    &:focus {
        color: #004085; /* Une couleur encore plus foncée pour l'activation ou le focus */
    }
}
